@font-face {
  font-family: 'Nexa Rust Sans-Trial Black 2';
  src: url('../fonts/NexaRustSans-Trial-Black2.woff2?v=4') format('woff2'),
       url('../fonts/NexaRustSans-Trial-Black2.ttf?v=4') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CitrusGothicRough-Regular';
  src: url('../fonts/CitrusGothicRough-Regular.woff2?v=4') format('woff2'),
       url('../fonts/CitrusGothicRough-Regular.otf?v=4') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.woff2?v=4') format('woff2'),
       url('../fonts/BebasNeue.ttf?v=4') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hey-August';
  src: url('../fonts/Hey-August.woff2?v=4') format('woff2'),
       url('../fonts/Hey-August.ttf?v=4') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}